/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* VARIABLES */
:root {
  /* primary colors */
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);

  /* font-family */
  --primary: "Open Sans", sans-serif;
  --ff-accent: "Poppins", sans-serif;

  /* font-size */
  --fs-400: 1rem;
  --fs-600: 1.5rem;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FONTS */
body {
  font-family: var(--primary);
}

h1 {
  font-family: var(--ff-accent);
  font-size: var(--fs-600);
}

p {
  line-height: 1.6;
  font-size: var(--fs-400);
}

/* BASE STYLES */
html {
  height: 100%;
}

body {
  background-color: var(--Violet);
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /*stick footer at the bottom*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body h1,
p {
  color: #fff;
  text-align: center;
}

h1 {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
  opacity: 0.8;
}

button {
  color: var(--White);
  border-radius: 2em;
  display: inline-block;
  transition: all 200ms ease-in;
  cursor: pointer;
  text-decoration: none;
  padding: 1em 5em;
  font-family: inherit;
  border: none;
  color: var(--Violet);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in;
  margin-bottom: 3rem;
}

button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

.social-media-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 1rem;
}

.social-media-links a {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  margin-left: 0.8rem;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.social-media-links a:hover {
  color: var(--Soft-Magenta);
  border: 1px solid hsl(300, 69%, 71%);
}

.container {
  margin: 0 auto;
  width: 80%;
}

.logo {
  width: 40%;
  padding-top: 2rem;
}

.mock-up {
  width: 100%;
  margin: 0 auto;
  padding: 3.5rem 0;
}

.call-to-action {
  text-align: center;
  margin-bottom: 1rem;
}

.call-to-action .text {
  max-width: 40ch;
  margin: auto;
}

footer {
  margin-top: auto;
}

.attribution {
  color: #fff;
  text-align: center;
}

.attribution a {
  color: #fff;
}

.attribution .highlight {
  color: var(--Soft-Magenta);
}

@media screen and (min-width: 960px) {
  body {
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
  }

  .container {
    display: flex;
    gap: 1.8em;
    width: auto;
    max-width: 1200px;
    margin: auto;
  }

  .logo {
    max-width: 45%;
  }

  .hero-image .mock-up {
    padding-top: 3rem;
    width: auto;
  }

  .call-to-action {
    padding-top: 14rem;
    margin: 0 auto;
    width: auto;
  }

  .call-to-action h1 {
    font-size: 2.125rem;
  }

  .call-to-action .text {
    max-width: 60ch;
  }

  button {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 12rem;
    padding: 0.7em 4em;
  }

  .call-to-action h1,
  p {
    text-align: left;
  }

  .social-media-links {
    margin-left: auto;
  }

  .social-media-links a {
    height: 40px;
    width: 40px;
  }
}
